<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='images/logo.png') }}" with="80" height="60" alt="{{ title }}" title="{{ title }}">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Collections</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('products') }}">All Products</a>
                {% for c in categories %}
                    <a class="dropdown-item" href="#">{{ c.name }}</a>
                {% endfor %}
            </div>
          </li>
        <li><a href="#" class="nav-link px-2 text-dark">About Us</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
</header>