{% extends 'layouts/base.html' %}

{% block content %}
<div class="my-2">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Latest Products</h1>
                <p class="lead text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo corporis numquam voluptatem, enim, sit, laudantium nulla in nisi delectus fuga nesciunt officia pariatur! Eum sunt, tempore aut libero autem beatae?</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Buy Now</a>
                    <a href="#" class="btn btn-secondary my-2">See Collections</a>
                </p>
            </div>
        </div>
    </section>

</div>
{% endblock %}