<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="subject">All Products</h1>
        <table border="1" class="products">
            <tr>
                <th>Image</th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {% for p in products %}
                <tr>
                    <td>
                        <img src="{{ p.image }}" width="120px" alt="{{ p.name }}">
                    </td>
                    <td>{{ p.id }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ format_price(p.price) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>